@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<head>
        <title>OneTech</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="OneTech shop project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/slick-1.8.0/slick.css" rel="stylesheet" type="text/css">
        <link href="~/styles/main_styles.css" rel="stylesheet" type="text/css">
        <link href="~/styles/responsive.css" rel="stylesheet" type="text/css">

    </head>

<p>Use this page to detail your site's privacy policy.</p>
