
@{
    ViewData["Title"] = "Search";

}

<div class="col-md-4">
    <form asp-action="Search">
        <div class="form-group">
            <input name="searchText" class="form-control" placeholder="Arama Metni"/>
            <input type="submit" value="Ara" class="btn btn-primary"/>
        </div>    
    </form>
</div>